{% include 'base.html' %}
<body>
  {% include 'nav.html' %}
  <div class="container">
    <h1 class="tex-center">Hotels {{company_name}} You</h1>
      <blockquote>
      <p class="text-lowercase">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
        </blockquote>
      <img scr= "static/banner.jpg" alt="hotelaroundyou">
      <h3 class="text-center"">Open position</h3>
      
      <div>
        {% for job in jobs %}
            <!-- codes can be runned externally from another page -->
         {% include 'jobitems.html' %}
        {% endfor %}
      </div>
 </div>
 {% include 'footer.html' %}