<div class="border-bottom container" style="margin-bottom:16px;padding-bottom:8px;">
<div class="col-10">
   <h4 
     style="color:rgb(120,120,120); margin-bottom:4px;">{{job['title']}}
   </h4> 
  <div>
    <b>Location:</b>{{job['location']}}
  </div>
  {% if 'salary' in job %}
  <div>
   <b>Salary:</b> {{job['salary']}}
 </div>
  {% endif %}
</div>
  <div class="col-3">
  <a href="mailto:support@tradefxpros.com?subject=Account%20informtion%20req&body=Hello%2C%0D%0A%0D%0AI%20am%20applinying%20for%20the%20role%20of%20a%20%3C{{job['title']}}%3E%20in%20{{company_name}}%20labs%20ot%20will%20be%20an%20houor%20to%20serve%20at%20you%20company%0D%0A%0D%0ADesigned%20and%20built%20with%20all%20the%20love%20in%20the%20world%20by%20the%20Bootstrap%20team%20with%20the%20help%20of%20our%20contributors.%0D%0ACode%20licensed%20MIT%2C%20docs%20CC%20BY%203.0.%0D%0ACurrently%20v5.3.3." type="button" class="btn btn-primary">Apply</a>
  </div>
  
</div>
 